<<<<<<< HEAD
/* variables */

// colours
$lightGrey: #fafafa;
$midGrey: #ccc;
$darkGrey: #343434;
$limeGreen: #00FC87;

// typography
$lato: 'Lato', sans-serif;
$oswald: 'Oswald', sans-serif;
$Ionicons:'Ionicons';

// padding
.nopadding {
  padding: 0;
}
=======
/* variables */

// colours
$lightGrey: #fafafa;
$midGrey: #ccc;
$darkGrey: #343434;
$limeGreen: #00FC87;

// typography
$lato: 'Lato', sans-serif;
$oswald: 'Oswald', sans-serif;
$Ionicons:'Ionicons';

// padding
.nopadding {
  padding: 0;
}
>>>>>>> 3a806a04413b73b4084a49e70dadff7c84d30d97
